#welcome-message{
    text-align: center;
    padding: 1 1;
    margin: 1 2;

    border: solid ascii orange;
}

#main-menu{
    text-align: center;
    padding: 1 1;
    margin: 1 2;

    align: center middle;

    border: solid ascii orange;
}

#start-game-btn, #view-scores-btn, #quit-btn, #settings-btn{
    margin: 1 2;
    width: 80%;
}